.coll{
    color: black;
    font-weight: bold;
}
a{
    color: grey;
}
a:hover{
    color: grey;
}
.border{
    border: 1px solid grey;
    width: 170px;
    border-radius: 0px;
}
.border-filter{
    border: 1px solid grey;
    border-radius: 0px;
    width: 170px;
}
.dropdown-menu.centered {
    left: 50% !important;
    transform: translateX(-50%) !important;

  }
  .notify-badge{
    position: absolute;
    right:-10px;
    top:0px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:20px;
}