
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .backg{
    background-color: black;
  }
@media screen and (min-width: 1200px) {
    .res-footer{
        right: 0rem;
       
    }
}
@media screen and (max-width: 600px) {

}